@page "/"

<PageTitle ></PageTitle>

<h1 id="@WebConstants.ComponentIDs.LandingPage">@WebConstants.LandingPageWelcome</h1>

<MudPaper Class="pa-16 ma-2" Elevation="0">Todo add landing page</MudPaper>
