@page "/"

<PageTitle ></PageTitle>

<h1 id="@WebConstants.ComponentIDs.LandingPage">@WebConstants.LandingPageWelcome</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
